.NavBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
}

.NavBar-logo {
  text-transform: uppercase;
  margin-right: 15px;
  padding: 0 13px;
  font-size: 18px;
  background-color: #eceff1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar-logo a {
  text-decoration: none;
  color: black;
}

.NavBar-slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background-color: teal;
  outline: none;
  border: 2px solid teal;
  box-shadow: none;
}
